.panel.panel-info
  .panel.heading.h3 Nueva Compra Manual
  .panel.body
    .row
      .col-sm-4
        #BuscaCliente{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        %input#recipient-name{:placeholder => "Rut Cliente"}
        = link_to "Buscar",nil,:id=>"boton", :type => "button",:class=>"btn btn-default btn-sm"
      .col-sm-4
        %label{:id=>"RutCliente"}
      .col-sm-4
        %label{:id=>"RzsCliente"}        
        %p