<h1>Nueva compra Manual</h1>
<%= form_for(@compmanual) do |f| %>
   <div class="field"> 
      <%= f.label :tipo %>
      <%= f.select :tipodoc, @tipodtes.map{ |c| [c.nombre, c.tipo] }%>
   </div>
   <div class="field"> 
   <%= f.submit "Crear..", data: { confirm: "Esta seguro?" } %>
   </div>
<% end %>
   