<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

 <p> Este correo es para verificar los envíos desde el servidor: </p>


 <p>
NOTA: Este correo fue generado en forma automática. No responda este mail
porque su respuesta será ignorada.
 </p>

 <p>
---
</p>
<p>
Sistema DteBridge
http://www.invoicedigital.cl
 </p>
</body>
</html>