/= params
%h1 Busca Contribuyente
= render 'form_busca_por_rut'
- if @contribuyente.nil?
  /%h1 no se encuentra el contribuyente!
- else
  %table.table
    %tr
      %th R.U.T
      %th Razón Social
      %th -
    %tr
      %td   
        = @contribuyente.rut
      %td 
        = @contribuyente.nombre
      %td
        = link_to "Aceptar"

      


